{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
    <a class="navlink" href="/profile">Профиль</a>
    <a href="/" class="logo" title="logo">
        <img src="https://imgur.com/WHY5bWR.png" alt="Logo" width="277" height="48">
    </a>
    <a class="navlink" href="/admin">Админка</a>

</div>

<h1><span style="color: #05016a">НЕЙ</span>МАРК</h1>


</div>

<div class="paymentCard">
    <h1>Поздравляем с покупкой!</h1>
    <h3>Товар будет доставлен по указанному адресу</h3>
</div>

<script>
    setTimeout(() => {
        document.location = '/';
    }, 3000);
</script>