/* waiting.css */
h2 {
    font-size: 60px;
    transform: rotate(20deg);
    margin-top: 350px;
    margin-left: 20px;
}

h1 {
    font-size: 40px;
    transform: rotate(-20deg);
    margin-top: 600px;
    margin-left: 1100px;
}

p {
    font-size: 60px;
    transform: rotate(-10deg);
    margin-top: -600px;
    margin-left: 260px;
}
